* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  height: 100vh;
}

button {
  font-size: 18px;
  border: 0;
  background-color: $c-blue;
  padding: 15px 20px;
  color: $c-white;
  font-weight: bold;
  cursor: pointer;
}
